html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, rgb(27, 6, 51), rgb(9, 1, 15));
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    margin-right: 7%;
    font-family: Arial, Helvetica, sans-serif;
}

main    {
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 1em;
}

#PC, #MOBILE {
    text-align: center;
}

#text-centered {
    text-align: center;
}

#tab {
    margin-left: 2.5%;
}

nav {
    text-align: center;
}

a {
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
    font-size: 140%;
}

a:link {
    color: rgb(16, 75, 170);
}

a:visited {
    color: rgb(16, 75, 170);
}

a:hover {
    color: goldenrod;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    text-align: justify;
    border: 0.1em solid #dddddd;
    padding: 0.8em;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

@media only screen and (min-width: 1930px) {
    #MOBILE {
        display: none;
    }
    
    body {
        font-size: 150%;
    }

    a {
        font-size: 135%;
    }
}

@media only screen and (min-width: 1200px) {
    #MOBILE {
        display: none;
    }

    #text-centered {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1199px) {
    #PC {
        display: none;
    }
    
    body {
        background-color: white;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
        font-size: 200%;
    }

    main {
        border-radius: 0em;
    }

    table {
        width: 100%;
    }

    nav {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    #PC {
        display: none;
    }
    
    body {
        background-color: white;
        margin-top: 0em;
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0em;
        font-size: 200%;
    }

    main {
        border-radius: 0em;
    }

    table {
        width: 100%;
    }

    nav {
        display: none;
    }
}
