html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}

#btnsTop, ul {
   list-style-type: none;
}

p.indent {
    text-indent: 1.5em;
}

.download-btn {
	margin-left: auto;
	margin-right: 3.5%;
	margin-bottom: 1.2em;
}
