html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}

#btnsTop {
   list-style-type: none;
}

p.indent {
    text-indent: 1.5em;
}

#skill_display {
    display: inline-block;
    width: 21em;
    height: 17.5em;
    margin-top: 1em;
    margin-left: 0.78em;
}

.progress_bar_darkmode {
    display: inline-block;
    width: 100%;
    height: 1.4em;
    background-color: #696969;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #cfcfcf;
    border-width: 0.1em;
}

.quarter_progress_darkmode {
    display: inline-block;
    width: 25%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, darkgray, #d1d1d1);
}

.half_progress_darkmode {
    display: inline-block;
    width: 50%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, darkgray, #dddddd);
}

.quarter_to_progress_darkmode {
    display: inline-block;
    width: 75%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, darkgray, #ebebeb);
}

.ninety_per_progress_darkmode {
    display: inline-block;
    width: 90%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, darkgray, #f0f0f0);
}

.full_progress_darkmode {
    display: inline-block;
    width: 98.5%;
    height: 1.1em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, darkgray, #f7f7f7);
}

.progress_bar_lightmode {
    display: inline-block;
    width: 100%;
    height: 1.4em;
    background-color: #bbbbbb;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #3f3f3f;
    border-width: 0.1em;
}

.quarter_progress_lightmode {
    display: inline-block;
    width: 25%;
    height: 1.4em;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, #454545, #494949);
}

.half_progress_lightmode {
    display: inline-block;
    width: 50%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, #454545, #525252);
}

.quarter_to_progress_lightmode {
    display: inline-block;
    width: 75%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right,#454545, #565656);
}

.ninety_per_progress_lightmode {
    display: inline-block;
    width: 90%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, #454545, #626262);
}

.full_progress_lightmode {
    display: inline-block;
    width: 98.5%;
    height: 1.08em;
    margin-top: 0.1em;
    margin-left: 0.05em;
    border-radius: 0.4em;
    background-image: linear-gradient(to right, #454545, #696969);
}